<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    

    <record id="fhir_config_settings_view_form" model="ir.ui.view">
        <field name="name">fhir.config.settings</field>
        <field name="model">res.config.settings</field>
        
        <field name="arch" type="xml">
            <form >
                <sheet>
                    <header>
                            <button class="oe_highlight" name="execute" string="Aplicar Cambios" type="object"/>                      
                            <button class="oe_highlight" name="cancel" string="Cancelar" type="object"/>
                    </header>
                    <group>
                        <field name="fhir_server_url" />
                        <field name="fhir_access_token" password="True"/>
                        
                    </group>
                </sheet>
            </form>

        </field>
    </record>

    <record id = "server_action_view" model="ir.actions.act_window">
        <field name = "name">Servidor FHIR</field>
        <field name = "res_model">res.config.settings</field>
        
        <field name = "view_id" ref = "fhir_config_settings_view_form" />      
        <field name = "view_mode">form</field>
        <field name = "target">inline</field>
        <field name = "context">{'module' : 'fhir_sistemsalud'}</field>
    </record>



</odoo>