# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\odoo_13\otros\fhir_sistemsalud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
